/* #bbb1b141          : background */
/* #222               : general text */

/* rgb(183, 34, 133)  : first accent */                     /* SLIGHT ADJUSTMENT MADE TO LIGHTEN THIS COLOR IN .list SELECTOR */
/* rgb(102, 51, 255)  : second accent */                    /* SLIGHT ADJUSTMENT MADE TO LIGHTEN THIS COLOR IN .list SELECTOR */
/* rgb(255, 131, 29)  : focus */               

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ----- 0px */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #bbb1b141;
}

 /* --- LINKS --- */
a {
  text-decoration: none;
  color: rgb(183, 34, 133);
  border: rgba(0, 0, 0, 0) 1px solid;
  border-radius: 5px;
  padding: 2px;
  transition: all .25s;
}
a:visited {
  color: rgb(102, 51, 255);
}
a:focus {
  outline: none;
  background-color: rgba(255, 131, 29, 0.25);
  border-color: rgb(255, 131, 29);
  color: #222; 
}
a:hover {
  color: rgb(102, 51, 255);
  background-color: rgba(183, 34, 133, 0.15);
}

/* --- NAVIGATION --- */
nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
}
.nav li {
  text-transform: uppercase;
  margin: 1% 0 2% 0;
  text-align: center;
}
.nav a {
  transition: all .5s;
  padding: 10%;
  font-weight: lighter;
}
.nav a:hover {
  background-color: rgba(255, 131, 29, 0.25);
}
.nav a:visited {
  color: white;
}

/* --- HEADER --- */
header {
  text-align: center;
  background: url('../images/NYC.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  border: 3px solid #222;
  transition: all .75s;
}
header .profile-image:hover {
  transform: scale(.75) rotate(360deg);
}
.tag {
  background-color: white;
  color: #222;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
  max-width: fit-content;
  margin: 10px auto;
}

/* --- SECTIONS --- */
section {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
section:hover {
  border-color: rgb(183, 34, 133);
}
section h2 {
  text-align: center;
  border-bottom: rgba(183, 34, 133, 0.3) dashed 2px;
}

ul.list {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list li {
  border-radius: 6px;
  background: rgba(164, 137, 247, 0.25);
  color: #222;
  padding: 5px 10px;
  margin: 2px;
  max-width: fit-content;
  min-width: 40%;
  list-style: none;
  transition: all 0.5s;
}
.list li:nth-child(3n + 3) {
  background: rgba(220, 89, 176, 0.25);
}
.list li:nth-child(3n + 2) {
  background: rgba(255, 131, 29, 0.25);
}
.list li:hover {
  background: rgba(164, 137, 247, 0.6);
}
.list li:nth-child(3n + 3):hover {
  background: rgba(220, 89, 176, 0.6);
}
.list li:nth-child(3n + 2):hover {
  background: rgba(255, 131, 29, 0.6);
}

/* --- FOOTER --- */
footer {
  width: 100%;
  min-height: 30px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}

/* --- PORTFOLIO PAGE --- */
.app-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app-links a{
  border: solid 1px #222;
  box-shadow: 5px 5px rgba(183, 34, 133, 0.75), -5px -5px rgba(164, 137, 247, 0.75);
  
  padding: 2%;
}

/* --- HOBBIES PAGE --- */
#reading .list li{
  min-width: 100%;
}
#reading small {
  font-style: italic;
  font-size: small;
}

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- --- 720px */
@media screen and (min-width: 720px) {
  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  header {
    min-height: 470px;
  }

  main {
    padding-top: 20px;
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
